.App{
  min-height: 100vh;
  width: 100vw;
}

/* content of page with sidebar */
#sidebarMain {
  margin-left: 200px; /* Same as the width of the sidenav */
  /* padding: 0px 10px; */
  padding: 2% 5%;
  padding-top: 100px;
}

.form{
  margin: auto;
  width: 80%;
  min-width: 200px;
}

.form-check{
  margin-left: 5%;
}

.form-control{
  max-width: 900px;
  height: 35px;
}

.btnContainer{
  margin-right: 40px;
}

thead{
  /* background-color: rgb(100, 130, 170); */
  background-color: rgb(65, 70, 125);
  color: white;
}

.table{
  font-size: 14px;
  font-weight: 500;
}

/* .table-bordered{
  border: 1px solid black;
} */

.table-responsive{
  /* border: 1px solid black; */
  /* padding: 5px; */
  max-height: 60vh;
  overflow-y: scroll;
}

#bodyContainer{
  position: relative;
  min-height: 120vh;
  flex-grow: 1;
}

#footerContainer{
  position: relative;
  bottom: 0;
  width: 100%;  
}

.btn-floating{
  border-radius: 50%;
  align-items: center;
  margin-right: 50px;
}
.btn-floating:hover{
  /* background-color: rgb(10, 10, 50); */
  background-color: rgb(62, 62, 110);
  /* background-color: rgb(142, 142, 202); */
}

#footerIconSection{
  display:flex;
  justify-content: center;
}
.footerIcon{
  /* height: 22px; */
  padding: 3px 0 5px 0px;
  /* padding-bottom: 5px; */
}

.formError{
  color: red;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}
  /* Searchbar */
.searchbarContainer{
  padding: 20px 0px 20px 0px;
}
.searchbar{
  width:250px;
  font-size: 14px;
  font-weight: 500;
  height: 44px;
}
.filterDiv {
  margin-top: 24px;
  /* border: 1px solid #777; */
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
  width:222px;
  background-color:#fff;
  position:relative;
}
.filter-label{
  width:220px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(150, 150, 150);
  padding: 0 8px;  
  position: absolute;
  top:6px;
}
.filter-select{
  background-color: #fff;
  border:0px;
  width:220px;
  height:42px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
}
.filterIcon{
  height: 10px;
}

/* Form multiple text boxes in same row (select together with searchbar) */
.select2{
  margin-right: 50px;
}
.select2-search{
  margin-top: 30px;
}
.formRow{
  max-width: 930px;
}

.shortcutIcon{
  height: 16px;
  margin: 8px;
}